<div class="login-form-container">
  <mat-card>
    <mat-card-header>
      Sign In
    </mat-card-header>
    <form #loginForm="ngForm" (ngSubmit)="_onSubmit()" novalidate>
      <mat-list role="list">
        <mat-list-item>
          <mat-form-field appFormElement>
            <input name="email" matInput placeholder="Email" type="email" [(ngModel)]="loginRequest.email" required>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field appFormElement>
            <input name="password" matInput placeholder="Password" type="password" [(ngModel)]="loginRequest.password" required>
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Sign In</button>
          &nbsp;
          <app-progress-indicator [display]="showLoadingIndicator"></app-progress-indicator>
        </mat-list-item>
      </mat-list>
    </form>
    <a mat-flat-button  routerLink="/user/register" color="default">Don't have an account yet?</a>
  </mat-card>
</div>