<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span class="title">
      {{_toolBarTitle}}
    </span>
    <div *ngIf="user">
      Hi, {{user | userDisplay: 'firstOnly'}}
    </div>
  </mat-toolbar-row>

  <mat-toolbar-row class="tool-bar-actions-container">
    <button mat-flat-button (click)="navHome()">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-flat-button (click)="signOut()" class="sign-out-link" *ngIf="user">
      Sign Out
    </button>
  </mat-toolbar-row>
</mat-toolbar>