.parent-container {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 500px;
}

.fab-add-journal {
    float: right;
}

.no-contente-message-container {
    text-align: center;
}
  