<div>
  <mat-card>
    <mat-card-header>
      Create a Journal
    </mat-card-header>
    <form #journalForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
      <mat-list role="list">
        <mat-list-item>
          <mat-form-field appFormElement>
            <input name="title" matInput placeholder="Title" [(ngModel)]="journal.title" required>
          </mat-form-field>
        </mat-list-item>
 
        <mat-list-item>
          <mat-form-field appFormElement>
            <textarea name="content" matInput placeholder="Content" [(ngModel)]="journal.content" required></textarea>
          </mat-form-field>
        </mat-list-item>

        <mat-list-item>
          <button mat-raised-button color="primary" [disabled]="!journalForm.form.valid">Create</button>
          &nbsp;
          <app-progress-indicator [display]="showLoadingIndicator"></app-progress-indicator>
        </mat-list-item>

      </mat-list>
    </form>
  </mat-card>
</div>