<div class="form-container">
<mat-card>
  <mat-card-header>
    <h1>Sign Up</h1>
  </mat-card-header>

  <form #registrationForm="ngForm" (ngSubmit)="_onSubmit(registrationForm)" novalidate>
    <mat-list role="list">
      <mat-list-item>
        <mat-form-field class="form-input">
          <input id="firstName" name="firstName" 
          placeholder="First Name" 
          matInput type="text" 
          [(ngModel)]="registrationRequest.firstName"
          [disabled]="disableForm" required>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="form-input">
          <input name="lastName" 
          placeholder="Last Name" 
          matInput type="text"
          [(ngModel)]="registrationRequest.lastName"
          [disabled]="disableForm" required>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="form-input">
          <input name="email" 
          placeholder="Email" 
          matInput type="email"
          [(ngModel)]="registrationRequest.email"
          [disabled]="disableForm" required>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field class="form-input">
          <input name="password" 
          placeholder="Password" 
          matInput type="password" 
          [(ngModel)]="registrationRequest.password"
          [disabled]="disableForm" required>
        </mat-form-field>
      </mat-list-item>
      <mat-list-item class="center-horizontal">
        <button mat-raised-button color="primary" [disabled]="!registrationForm.form.valid || disableForm">Sign Up</button>
        &nbsp; <app-progress-indicator [display]="showLoadingIndicator"></app-progress-indicator>
      </mat-list-item>
    </mat-list>
  </form>
  <a mat-flat-button  routerLink="/login" color="default">Already have an account?</a>

</mat-card>
</div>